In [2]:
import pandas as pd

In [8]:
data = {"Name": ["Aman", "Saurav", "Karan", "Shubham", "Abhishek", None, "Sammer"],
               "Age": [22, 23, None, 22, 25, 24, 26] ,
                "Marks": [85, None, 88, 90, 56, 72, None],
                "Subject": ["Math", "Physics", "Math", "Chemistry", "Math", "Physics", "Chemistry"]}

df = pd.DataFrame(data)
print(df)

       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   Shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5      None  24.0   72.0    Physics
6    Sammer  26.0    NaN  Chemistry

In [10]:
#basic groupby
df.groupby("Subject")["Marks"].mean() #mean of marks per subject

Subject
Chemistry    90.000000
Math         76.333333
Physics      72.000000
Name: Marks, dtype: float64

In [12]:
df.groupby("Subject")['Name'].count()

Subject
Chemistry    2
Math         3
Physics      1
Name: Name, dtype: int64

In [ ]:
df.groupby("Subject").size() #count of students per subject

Subject
Chemistry    2
Math         3
Physics      2
dtype: int64

In [14]:
#Multiple aggregation
df.groupby("Subject")["Marks"].agg(["mean", "min", "max", "std"])

                mean   min   max        std
Subject
Chemistry  90.000000  90.0  90.0        NaN
Math       76.333333  56.0  88.0  17.672955
Physics    72.000000  72.0  72.0        NaN

In [15]:
#Groupby with multiple columns
df.groupby(["Subject", "Age"])["Marks"].mean()

Subject    Age
Chemistry  22.0    90.0
           26.0     NaN
Math       22.0    85.0
           25.0    56.0
Physics    23.0     NaN
           24.0    72.0
Name: Marks, dtype: float64